.root {
    -fx-background-color:  #000000;
}

.button {
	-fx-font-weight: bold;
	-fx-background-color: #1aebfd;
	-fx-front-size: 16;
	-fx-text-fill: black;
}

.button:hover{
	-fx-font-weight: bold;
	-fx-background-color: white;
	-fx-front-size: 16;
	-fx-text-fill: black;
	-fx-border-color: white;
	-fx-border-radius: 20;
	-fx-border-width: 3;
}
.popup {
    -fx-padding: 10;
    -fx-border-width: 5;
    -fx-font-size: 16;
    -fx-text-fill: white;
}


.grid-pane > .label {
	-fx-font-weight: bold;
	-fx-text-fill: white;
}

.grid-pane > .button {
	-fx-font-weight: bold;
	-fx-background-color: #1aebfd;
	-fx-front-size: 16;
	-fx-text-fill: white;
}

.grid-pane > .button:hover{
	-fx-font-weight: bold;
	-fx-background-color: white;
	-fx-front-size: 16;
	-fx-text-fill: black;
	-fx-border-color: white;
	-fx-border-radius: 20;
	-fx-border-width: 3;
}

.jfx-hamburger StackPane {
	-fx-background-color: #1aebfd;
}

