.table-view .table-cell {
	-fx-text-fill: white;
}
.table-row-cell:even {
	-fx-background-color: #595ebf;
	-fx-background-insets: 0, 0 0 1 0;
    	-fx-padding: 0.0em;
	}
	
.table-row-cell:odd {
	-fx-background-color: #2196f3;
	-fx-background-insets: 0, 0 0 1 0;
    	-fx-padding: 0.0em;
	}
